@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
